<h1>BookBay</h1>

  <% if current_user%>

    <h3>Your Books</h3>

    <% if @books_by_user.any? %>
      <ul>
        <% @books_by_user.each do |book| %>
          <li><%= link_to book.title, book_path(book) %></li>
        <% end %>
      </ul>
    <%end%>

  <%end%>

  <h3>Books</h3>
  <% if @book.any? %>
    <ul>
      <% @book.each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no books yet.</p>
  <% end %>
  
